body{
    font-family: Verdana;
    font-size: 2em;
    text-align: center;
}

h1 {
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    border-width: 7px;
    width: 900px;
    padding: 10px
}